/*清除浏览器的默认样式*/
body,h1,h2,h3,h4,h5,h6,p,ul,ol{
    margin:0;
    padding:0;
    list-style:none;
}
/*基础样式*/
body{
    font:12px youyuan,Arial;
    color:black;
}
a{
    color:#bbb;
    text-decoration:none;
}
input:focus{
    outline:none;
}
/*外部容器的样式*/
#main-body{
    /*width:1000px;*/
    margin:0 auto;
}